[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4,>=3.2"
djangorestframework = ">=3.12,<3.13"
django-debug-toolbar = "<3.7"
djoser = "<2.2"
djangorestframework-simplejwt = "<5.3"

[dev-packages]

[requires]
python_version = "3.10"
